<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ site_settings.restaurant_name }}{% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}?v=4">
<script src="{% static 'js/main.js' %}" defer></script>
<script src="{% static 'js/scroll-reveal.js' %}" defer></script>

</head>
<body>

    {% include 'partials/navbar.html' %}

    <main>
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

</body>
</html>
